<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MyPhotosContainer" connectionString="metadata=res://*/MyPhotos.csdl|res://*/MyPhotos.ssdl|res://*/MyPhotos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DDRTRS2\NUYONUSQL;initial catalog=Laborator5;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="PhotoManagerWCF.PhotoManagerService" behaviorConfiguration="metadataSupport">
        <endpoint address="http://localhost:8000/MyPhotos" binding="basicHttpBinding" contract="PhotoManagerWCF.IPhotoManagerService" name="BasicHttpBinding_IPhotoManagerService">
        <identity>
          <dns value="localhost"/>
        </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" name="mexhttp"/>
      </service>
    </services>
 <behaviors>
 <serviceBehaviors>
 <behavior name="metadataSupport">
        <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        </serviceBehaviors>
        </behaviors>
      </system.serviceModel>
</configuration>