<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ModelPostCommentContainer"
      connectionString="metadata=res://*/ModelPostComment.csdl|res://*/ModelPostComment.ssdl|res://*/ModelPostComment.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DDRTRS2\NUYONUSQL;initial catalog=Laborator6;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPostComment" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8000/PC" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IPostComment" contract="IPostComment"
          name="BasicHttpBinding_IPostComment" />
    </client>
  </system.serviceModel>
</configuration>